<h1>Secrets</h1>

<p><%= session[:user_id] %> is logged in</p>

<% @secrets.each do |secret| %>
	<p> <%= secret.content %> 

		<% if secret.user_id == session[:user_id] %> 
			<button><%= link_to 'Delete', secret, method: :delete, data: { confirm: 'Are you sure?' } %></button>	
		<%end %>
		
		<p>  Likes:<%= secret.likes.count(:all) %>!

			<% unless @user.secrets.include?(secret) %>
				
				<%= link_to "Like", likes_path(secret), method: :post %>	

			<% else %>
				<% like = secret.likes.where(:user_id => @user.id).first %>
				<%= link_to 'Unlike', like_path(like), method: :delete %>
			<%end %>
		</p>
			

		
<hr>
	</p>
<%end %>


<a href="/sessions/<%= session[:user_id] %>" data-method="delete">Log Out</a>

<%= link_to "My Page", user_path(session[:user_id]) %>
